@if (pageStatus$ | async){
  <app-layout-main>
    <div left>
      <app-search (inputMethod)="setQueryParamSearch($event)" [inputValue]="baseSearchParams" />
      <div class="test">
        @for (fileList of fileList$ | async; track fileList.title){
          <app-file-structure
            [fileList]="fileList"
            [searchActivated]="searchActivated"
            [substring]="baseSearchParams"
          />
        }
      </div>
    </div>
    <div right>
      <app-navigation [activePath]="activePath"/>
      <app-table [activeFile]="activeFile" />
    </div>
  </app-layout-main>
} @else {
  <ui-error-block [status]="fileSystemService.isError"/>
}


