@if (pageStatus$ | async){
  <app-layout-main>
    <div class="layout-main__left" left>
      <app-search (inputMethod)="setQueryParamSearch($event)" [inputValue]="baseSearchParams" />
        @for (fileList of fileList$ | async; track fileList.title){
          <app-file-structure [fileList]="fileList" [searchActivated]="searchActivated" [substring]="baseSearchParams" />
        }
    </div>
    <div class="layout-main__right" right>
      <app-navigation [activePath]="activePath"/>

      <app-display [activeFile]="activeFile" />

    </div>
  </app-layout-main>
} @else {
  <ui-error-block [status]="fileSystemService.isError"/>
}


