.display{
  &__table{
    padding: 15px;
    display: flex;
    gap: 24px;
    tr{
      display: flex;
      flex-direction: column;
      gap: 24px;
      text-align: left;
    }
  }
  &__ul{
    height: 35px;
    display: flex;
    border-bottom: 2px solid var(--color1);
    align-items: center;
    padding-left: 15px;

    li{
      opacity: 0.5;
      cursor: pointer;

      &:last-child{
        .slash {
          display: none;
        }
      }
    }
  }

}
