<div class="display">
  <ul class="display__ul" *ngIf="activePath">
    @for (url of activePath; track url; let index = $index){
      <li>
        <a
          class="url"
          [routerLink]="sliceUrl(activePath, index)"
        >
          {{url}}
          <span class="slash">/</span>
        </a>
      </li>
    }
  </ul>
  <table *ngIf="activeFile" class="display__table">
    <thead>
    <tr>
      <th>Тип</th>
      <th>Имя</th>
      <th>Описание</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{activeFile.type}}</td>
      <td>{{activeFile.title}}</td>
      <td>{{activeFile.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
