.expand{
  &__header {
    display: flex;
    align-items: center;
    &.disabled{
      opacity: 0.5;
    }

    &--triangle {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 10px solid grey;
      border-bottom: 5px solid transparent;
      margin-right: 5px;
      cursor: pointer;

      &.expand{
        transform: rotate(90deg);
      }
    }
    &--content {
      width: 100%;
    }
  }
  &__content {
    display: none;

    &.expand{
      display: block;
    }
  }
}



